@import url(http://fonts.googleapis.com/css?family=Roboto:300);
/* site */
* {
   font-family: 'Roboto',sans-serif;
}

body {
   font-size: 12px;
   background-color: #456;
}
img{
	width: 95%;
    transform: rotate(-90deg);
}
h1, p {
   text-align: center;
   font-weight: 300;
}

a {
   color: #3399FF;
   text-decoration: none;
   font-style: italic;
}


/*
   MENU
*/
input[type="checkbox"] {
   display: none;
   margin: 0 auto 0 auto;
   cursor: pointer;
}

@media screen and (max-width: 1024px) {
   input[type="checkbox"] + label {
      font-size: 2em;
   }
}
@media screen and (min-width: 1024px) {
   input[type="checkbox"] + label {
      font-size: 1.6em;
   }
} 
input[type="checkbox"] + label {
   position: fixed;
   top: 0;
   left: 0;
   display: block;
   cursor: pointer;
   
   background-color: #456;
   width: 100%; height: 4em;
   line-height: 3em;
   color: #ffffff;
   text-align: center;
   z-index: 11;
   transition: color 0.4s;
}

input[type="checkbox"] + label:hover {
   color: #eeeeee;
}

input[type="checkbox"] + label:after {
   display: block;
   content: '';
   position: absolute;
   top: 0;
   left: 50%;
   margin-left: -4em;
   z-index: -1;
   opacity: 0.75;

   width: 0em; height: 0em;
   border-top-width: 4em;
   border-top-style: solid;
   border-top-color: #28d;
   border-left: 4em solid transparent;
   border-right: 4em solid transparent;
   
   transition: opacity 0.4s;
}

input[type="checkbox"] + label:hover:after {
   opacity: 1;
}

input[type="checkbox"]:checked + label:after {
   border-top-color: #28d;
}



/* NAVI */
input[type="checkbox"] + label + #navigation {
   z-index: -10;
   opacity: 0;
   transition: opacity 0.4s;
}

input[type="checkbox"]:checked + label + #navigation {
   z-index: 10;
   opacity: 1;
}


@media screen and (max-width: 1024px) {
   #navigation {
      position: absolute;
   }
}
@media screen and (min-width: 1024px) {
   #navigation {
      position: fixed;
   }
}
#navigation {
   width: 100%; height: 100%;
   padding-top: 10em;
   top: 0; left: 0;
}


   @media screen and (max-width: 640px) {
      #navigation > ul {
         width: 100%;
      }
   }
   @media screen and (min-width: 640px) {
      #navigation > ul {
         width: 80%;
      }
   }
   @media screen and (min-width: 820px) {
      #navigation > ul {
         width: 70%;
      }
   }
   @media screen and (min-width: 1024px) {
      #navigation > ul {
         width: 60%;
      }
   }
   @media screen and (min-width: 1360px) {
      #navigation > ul {
         width: 50%;
      }
   }
   @media screen and (min-width: 1600px) {
      #navigation > ul {
         width: 40%;
      }
   }
   
   #navigation > ul {
      margin: 0 auto 10em auto;
      padding: 0;
      overflow: hidden;
      position: relative;
   }

   
      #navigation > ul li {
         overflow: hidden;
         list-style: none;
      }

      #navigation > ul > li + li {
         margin-top: 1em;
      }
      

         #navigation > ul > li a {
            color: white;
         }

         @media screen and (max-width: 1024px) {
            #navigation > ul > li > a {
               width: 100%;
               text-align: center;
               
               border-bottom: 0.2em solid #336699;
            }
         }
         
         @media screen and (min-width: 1024px) {
            #navigation > ul > li > a {
               width: 0em;
            }
         }
         
         #navigation > ul > li > a {
            font-size: 4em;
            overflow: visible;
            white-space: nowrap;
            
            background-color: #28d;
            
            transition: width 0.2s;
            z-index: 10;
            
            display: inline-block;
         }

         @media screen and (min-width: 1024px) {
            #navigation > ul > li:hover > a {
               width: 65%;
            }
         }
            
         #navigation > ul > li > a:after {
            content: '';
            display: inline-block;
            width: 0em; height: 100%;
            background-color: #28d;
            
            position: absolute;
            left: 0;
            top: 0;
            transition: width 0.2s;
            z-index: -10;
         }

         
            #navigation > ul > li > a > span {
               padding-right: 0.5em;
               background-color: #28d;
            }
            
         @media screen and (max-width: 1024px) {
            #navigation > ul > li > ul {
               text-align: center;
               width: 90%;
               margin: 0 auto 0 auto;
            }
            
            #navigation > ul > li > ul > li:hover {
               background-color: #66b3ff;
            }
         }
         
         @media screen and (min-width: 1024px) {
            #navigation > ul > li > ul {
               position: absolute;
               right: -100%;
               top: 0;
               width: 35%; height: 100%;
               transition: right 0.2s;
            }
            
            #navigation > ul > li > ul:hover ,
            #navigation > ul > li:hover > ul {
               right: 0%;
            }   
            
            #navigation > ul > li > ul > li {
               text-align: right;
               padding-right: 0.5em;
               transform: scale(1);
               transition: transform 0.2s;
            }

            #navigation > ul > li > ul > li:hover {
               transform: scale(1.2) translateX(-1em);
            }
         }
         
         @media screen and (max-width: 1024px) {
            #navigation > ul > li > ul > li {
               font-size: 1.4em;
            }
         }
         
         #navigation > ul > li > ul {
            padding: 0;
            z-index: 10;
            background-color: #28d;
            color: white;
            font-size: 2em;
         }







#site {
   font-size: 2em;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
}


@media screen and (max-width: 1024px) {
   input[type="checkbox"] + label + #navigation + #site {
      margin-top: 6em;
   }
   input[type="checkbox"]:checked + label + #navigation + #site {
      display: none;
   }
}

@media screen and (min-width: 1024px) {
   input[type="checkbox"] + label + #navigation + #site {
      border-width: 3em;
      border-style: solid;
      border-color: transparent;
      width: auto;
      
      transition: transform 0.4s, border-color 0.4s;
   }

   input[type="checkbox"]:checked + label + #navigation + #site {
      transform: scale(0.9);
      border-color: #28d;
   }
}


